language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

env:
  - SYMFONY_VERSION=2.1
  - SYMFONY_VERSION=2.2
  - SYMFONY_VERSION=2.3

before_script:
   - bash .travis.sh
   - composer install --dev

script:
   - phpunit

